<h1><%= translate "helpers.legend.sing_in" %></h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="fields">
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit translate("helpers.legend.sing_in") %>
  </div>
<% end %>

<p><%= translate "helpers.legend.new_user" %> <%= link_to translate("helpers.legend.sing_up_now"), sign_up_path %></p>

