<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Sobre", about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
      <li><%= link_to "News", "#" %></li>
      <li><%= link_to "Privacidade", "#" %></li>
      <li><%= link_to "Termos", "#" %></li>
      <li><%= link_to "Ajuda", help_path %></li>
    </ul>
  </nav><br />
  <iframe src="http://www.facebook.com/plugins/like.php?href=%23&amp;layout=standard&amp;show_faces=false&amp;width=23&amp;action=like&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="float: left; border:none; overflow:hidden; width:480px; height:35px;" allowTransparency="true"></iframe>
</footer>